.header{
    display: flex;
}

.navbar{
    /* background-color: #111827; */
    color: rgb(176, 130, 130)  ;
    backdrop-filter: blur(17px);
    top: 1%;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.25);
}


::placeholder{
    color: rgb(234, 230, 230);
}


.modal__title{
    color: blue;
}

.ModalCard{
  color: white;
  background: rgba(51, 76, 158, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 1px solid rgba(252, 252, 252, 0.18);

}

.imageInput{
    display: none;
}

.dropdown-menu{
    background: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 10px;
    border: 1px solid rgba(252, 252, 252, 0.18);
}

.dropdwn{
    color: rgb(176, 130, 130)  ;
    backdrop-filter: blur(17px);
    top: 1%;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.429);
}
.dropdown-item:hover{
    background: rgba(175, 174, 174, 0.429) !important; 
}

