.header{
    display: flex;
}

.navbar{
    /* background-color: #111827; */
    color: rgb(176, 130, 130)  ;
    backdrop-filter: blur(7px);
    border-bottom: 1px solid;
    border-color: rgb(99, 100, 114);
}


::placeholder{
    color: rgb(234, 230, 230);
}


.modal__title{
    color: blue;
}

.ModalCard{
  color: white;
  background: rgba(51, 76, 158, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 1px solid rgba(252, 252, 252, 0.18);

}

.imageInput{
    display: none;
}
