.mt-14{
    margin-top: 14px;
    
}

bdr-15{
    border-radius: 20px;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: linear-gradient(147deg, #00042c 0%, #04619f 74%); */
    background: linear-gradient(127.43deg, #535A00 0%, #DDFBFF 100%), radial-gradient(111.5% 111.5% at 83.93% 106%, #CC00FF 0%, #00239F 100%), radial-gradient(111% 111% at 74.29% -11%, #A90000 0%, #027000 100%), linear-gradient(127.43deg, #B7D500 0%, #2200AA 100%);
    background-blend-mode: overlay, difference, difference, normal;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p{
    margin-bottom: 0 !important;
}

.h-45{
    height: 57px;
}

.logo-color{
    background: -webkit-linear-gradient( #ffffff, #3396d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.blurBox{
    color: white;
  background: rgba(51, 76, 158, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(80px);
  border-radius: 10px;
  border: 1px solid rgba(252, 252, 252, 0.18);
}

.react-responsive-modal-modal{
    height: 400px;
    width: 600px;
    color: white;
  background: rgba(51, 76, 158, 0.4) !important ; 
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(80px);
  border-radius: 10px;
  border: 1px solid rgba(252, 252, 252, 0.18);
}

.bdr-50{
    border-radius: 50%;
}

hr{
    padding: 0;
    margin: 0;
}

button{
    box-shadow: none;
}

.mainContent{
    position: absolute;
  left: 40%;

}

.white-bdr{
    border: 3px solid white;
}

.buttn{
    background-color: blue;
    padding: 7px 40px;
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.buttn:hover{
    background-color: rgb(70, 66, 174);
}
.a12{
    
}

 /* glassmorpism .questionCard */
.questionCard{
    
    background-color: rgba(0, 0, 0, 0.208);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}