.card {
  width: 55%;
  max-width: 70rem;
  padding: 30px;
  color: white;
  background: rgba(252, 252, 252, 0.09);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.mt-6 {
  margin-top: 100px;
}

